<div class="sidebar" data-color="orange" th:fragment="asideAdmin">
    <div class="logo">
        
        <a href="/homeAdmin" class="simple-text logo-normal">
            <img width="150" src="../img/inlab_blanco.png" />
        </a>
        <div class="navbar-minimize">
            <button id="minimizeSidebar" class="btn btn-simple btn-icon btn-neutral btn-round">
                <i class="now-ui-icons arrows-1_minimal-left visible-on-sidebar-regular"></i>
                <i class="now-ui-icons arrows-1_minimal-right visible-on-sidebar-mini"></i>
            </button>
        </div>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li>
                <a href="/homeAdmin">
                    <i class="fas fa-user"></i>
                    <p>Usuarios</p>
                </a>
            </li>
            <li>
                <a href="/encuestas">
                    <i class="fas fa-list-ul"></i>
                    <p>Encuestas</p>
                </a>
            </li>
            <li>
                <a href="/campanas">
                    <i class="fab fa-hubspot"></i>
                    <p>Campa&ntilde;as</p>
                </a>
            </li>
        </ul>
    </div>
</div>