<div class="wrapper">
        <!--NAV-->
        <div class="sidebar" data-color="orange">
    <div class="logo">
        
        <a href="/homeAdmin" class="simple-text logo-normal">
            <img width="150" src="../img/inlab_blanco.png" />
        </a>
        <div class="navbar-minimize">
            <button id="minimizeSidebar" class="btn btn-simple btn-icon btn-neutral btn-round">
                <i class="now-ui-icons arrows-1_minimal-left visible-on-sidebar-regular"></i>
                <i class="now-ui-icons arrows-1_minimal-right visible-on-sidebar-mini"></i>
            </button>
        </div>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li>
                <a href="/usuarios">
                    <i class="now-ui-icons tech_tv"></i>
                    <p>Usuarios</p>
                </a>
            </li>
            <li>
                <a href="/encuestas">
                    <i class="now-ui-icons business_bulb-63"></i>
                    <p>Encuestas</p>
                </a>
            </li>
            <li>
                <a href="/campanas">
                    <i class="now-ui-icons ui-2_like"></i>
                    <p>Campañas</p>
                </a>
            </li>
            <li>
                <a href="/galeria">
                    <i class="now-ui-icons media-1_camera-compact"></i>
                    <p>Galería</p>
                </a>
            </li>
        </ul>
    </div>
</div>