<!DOCTYPE html>
<html lang="es">
<hgroup th:insert="fragments/admin/headAdmin.html :: headAdmin"> </hgroup>

<body class="sidebar-mini">
<!-- PRECARGADOR  
<div class="preloader-wrapper">
    <div class="preloader">
        <img src="/img/loader.gif" alt="NILA">
    </div>
</div>-->

<div class="wrapper">

	<!--NAV-->
		<!-- SIDEBAR    -->
		<aside th:insert="fragments/admin/asideAdmin.html :: asideAdmin"> </aside>
		<!-- /SIDEBAR    -->
	<!-- TOPBAR    -->
	<!--/NAV-->
    <!--MAIN-->
    <div class="main-panel">
       <!-- HEADER -->
       <nav th:insert="fragments/nav.html :: nav"> </nav>
       <!-- /HEADER -->
            
<!-- /TOPBAR    -->
<!-- CONTENT    -->
            
            <!--CONTAINER-->
            
            <div class="panel-header panel-header-sm">
            </div>
            <div class="section">
	            <div class="content col-md-12 col-centered">
	            <!-- CONTENIDO PAGINA  -->
	            	<div class="row">
		            	<div class="col-md-10 ml-auto col-xl-10 mr-auto">
			              <p class="category">ENCUESTAS</p>
			              <!-- Tabs with Background on Card -->
			              <div class="card">
			                <div class="card-header">
			                  <ul class="nav nav-tabs nav-tabs-neutral justify-content-center" role="tablist" data-background-color="orange">
			                    <li class="nav-item">
			                      <a class="nav-link active" data-toggle="tab" href="#tabEncuesta" role="tab"><i class="far fa-list-alt"></i> Encuestas</a>
			                    </li>
			                    <li class="nav-item">
			                      <a class="nav-link" data-toggle="tab" href="#tabPalabras" role="tab"><i class="far fa-comment"></i> Palabras</a>
			                    </li>
			                  </ul>
			                </div>
			                <div class="card-body">
			                  <!-- Tab panes -->
			                  <div class="tab-content text-center">
			                    <!-- tab 1 -->
			                    <div class="tab-pane active" id="tabEncuesta" role="tabpanel">
			                      <div class="float-left p-2">
			                      	  <button class="btn btn-info" data-toggle="modal" data-target="#modalCrearEncuesta"><i class="far fa-list-alt"></i> Crear Encuesta</button>
			                      </div>
			                      <div class="table-responsive">
					                  <table class="table" id="tbEncuestas">
					                    <tr>
											<th>ID</th>
					                      	<th>Nombre encuesta</th>
					                      	<th>Fecha Inicio</th>
					                      	<th>Fecha fin</th>
					                      	<th>Acciones</th>
					                    </tr>
					                  </table>
				                	</div>
			                    </div>
								<!-- /tab1 -->
			                    <div class="tab-pane" id="tabPalabras" role="tabpanel">
			                    	<div class="float-left p-2">
			                      	  <button class="btn btn-info" data-toggle="modal" data-target="#modalCrearPalabra"><i class="far fa-comment"></i> Crear Palabra</button>
			                      </div>
			                      <div class="table-responsive">
					                  <table class="table" id="tbPalabras">
					                    <tr>
											<th>Palabra</th>
					                      	<th>Acciones</th>
					                    </tr>
					                    <tr>
					                      	<td>nsadnoa</td>
					                      	<td class="text-center">
					                      		<button type="button" rel="tooltip" data-toggle="modal" data-target="#modalCrearPalabra" class="btn btn-info btn-icon btn-sm " data-original-title="Editar" title="Editar"><i class="far fa-edit"></i></button>
								                <button type="button" rel="tooltip" data-toggle="modal" data-target="#modalBorrar" class="btn btn-danger btn-icon btn-sm " data-original-title="Borrar" title="Borrar"><i class="far fa-trash-alt"></i></button>
								            </td>
					                    </tr>
					                    <tr>
					                      	<td>nsadnoa</td>
					                      	<td class="text-center">
					                      		<button type="button" rel="tooltip" data-toggle="modal" data-target="#modalCrearPalabra" class="btn btn-info btn-icon btn-sm " data-original-title="Editar" title="Editar"><i class="far fa-edit"></i></button>
								                <button type="button" rel="tooltip" data-toggle="modal" data-target="#modalBorrar" class="btn btn-danger btn-icon btn-sm " data-original-title="Borrar" title="Borrar"><i class="far fa-trash-alt"></i></button>
								            </td>
					                    </tr>
					                  </table>
				                	</div>
			                    </div>
			                  </div>
			                </div>
			              </div>
			              <!-- End Tabs on plain Card -->
			            </div>
		        	</div>
		          <!-- /CONTENIDO PAGINA  -->
		          
	          </div>
	      </div>
     <!--/CONTAINER-->
<!-- /CONTENT   -->


<!--FOOTER-->
<footer th:insert="fragments/footer.html :: footer"> </footer>
<!--/FOOTER-->


        </div>
        <!--/MAIN-->
</div>

<!-- Inicio Modal Crear Encuesta -->
<div class="modal fade modal-md" id="modalCrearEncuesta" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <form id="formPoll" class="form" method="post" action="">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header justify-content-center">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              <i class="now-ui-icons ui-1_simple-remove"></i>
            </button>
            <h4 class="title title-up">Crear Encuesta</h4>
          </div>
          <div class="modal-body">
          	<div class="form-group">
          		<input type="hidden" class="form-control" id="pollID" name="pollID">
            	<input id="pollName" name="pollName" value="" placeholder="Nombre Encuesta" class="form-control" type="text">
            </div>
            <div class="row">
            	<div class="datepicker-container col-sm-6">
            		<label class="control-label">Fecha Inicial</label>
			        <div class="form-group">
						<input id="startDate" name="startDate" class="form-control date-picker" data-date-format="dd/mm/yyyy" value="04/10/2018" data-datepicker-color="primary" type="text">
					</div>
            	</div>            
            	<div class="datepicker-container col-sm-6">
            		<label class="control-label">Fecha Final</label>
			        <div class="form-group">
						<input id="endDate" name="endDate" class="form-control date-picker" data-date-format="dd/mm/yyyy" value="05/10/2018" data-datepicker-color="primary" type="text">
					</div>
            	</div>
            </div>
            
	  	</div>
	  <div class="modal-footer">
	    <input id="btnCerrar" type="reset" class="btn btn-danger" data-dismiss="modal" value="Cancelar">
	    <input type="button" class="btn btn-success" id="btnPoll" name="btnPoll" value="Guardar">
	      </div>
	    </div>
	  </div>
  </form>
</div>
<!-- Fin Modal Crear Encuesta -->

<!-- Inicio Modal Editar Encuesta -->
<div class="modal fade modal-md" id="modalEditarEncuesta" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <form id="formEditPoll" class="form" method="post" action="">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header justify-content-center">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              <i class="now-ui-icons ui-1_simple-remove"></i>
            </button>
            <h4 class="title title-up">Editar Encuesta</h4>
          </div>
          <div class="modal-body">
          	<div class="form-group">
          		<label class="control-label">ID Encuesta</label>
            	<input id="editPollId" name="editPollId" class="form-control" type="text" readonly>
            </div>
            <div class="form-group">
            	<label class="control-label">Nombre Encuesta</label>
            	<input id="editPollName" name="editPollName" class="form-control" type="text">
            </div>
            <div class="row">
            	<div class="datepicker-container col-sm-6">
            		<label class="control-label">Fecha Inicial</label>
			        <div class="form-group">
						<input id="editStartDate" name="editStartDate" class="form-control date-picker" data-date-format="dd/mm/yyyy" data-datepicker-color="primary" type="text">
					</div>
            	</div>            
            	<div class="datepicker-container col-sm-6">
            		<label class="control-label">Fecha Final</label>
			        <div class="form-group">
						<input id="editEndDate" name="editEndDate" class="form-control date-picker" data-date-format="dd/mm/yyyy" data-datepicker-color="primary" type="text">
					</div>
            	</div>
            </div>
            
	  	</div>
	  <div class="modal-footer">
	    <input id="btnCerrar" type="reset" class="btn btn-danger" data-dismiss="modal" value="Cancelar">
	    <input type="button" class="btn btn-success" id="btnEditPoll" name="btnEditPoll" value="Guardar">
	      </div>
	    </div>
	  </div>
  </form>
</div>
<!-- Fin Modal Editar Encuesta -->


<!-- Inicio Modal Crear/Editar Preguntas -->
<div class="modal fade" id="modalCrearPregunta" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<form id="formNewQuestion" class="form" method="" action="">
	      <div class="modal-dialog modal-lg">
	      <input id="editPollId" name="editPollId" type="hidden">
	        <div class="modal-content">
	          <div class="modal-header justify-content-center">
	            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
	              <i class="now-ui-icons ui-1_simple-remove"></i>
	            </button>
	            <h4 class="title title-up">Crear | Editar Preguntas</h4>
	          </div>
	          <div class="modal-body p-5" id="itemsQuestion">
				<button id="btnAddQuestion" type="button" rel="tooltip" class="btn btn-info btn-sm " data-original-title="" title=""><i class="fas fa-plus-circle"></i> Nueva Pregunta</button>
		      	<!-- <div class="form-group no-border btn-group d-flex w-100" role="group">
		            <input class="form-control question" placeholder="Texto Pregunta" type="text" name="inputQuestion1" id="inputQuestion1">
		     	</div> -->
		  	</div>
			<div class="modal-footer">
				<input id="btnCerrarPreguntas" type="reset" class="btn btn-danger" data-dismiss="modal" value="Cancelar">
	    		<input type="button" class="btn btn-success" id="btnQuestion" name="btnQuestion" value="Guardar">
	      </div>
	    </div>
	  </div>
	</form>
</div>
<!-- Fin Modal Crear/Editar Preguntas -->

<!-- Minimodal Borrado  -->
<div class="modal fade modal-mini" id="modalBorrar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<form id="borrarPregunta" class="form" method="" action="">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<p>Confirmar el borrado</p>
				<div class="form-group text-center col-centered">
	          		<label class="control-label">ID Encuesta</label>
	            	<input id="deletePollId" name="deletePollId" class="form-control" type="text" readonly>
            	</div>
			</div>
			<div class="modal-footer">
				<button id="btnCerrar" type="button" class="btn btn-danger" data-dismiss="modal" >Cancelar</button>
			    <input type="button" class="btn btn-success" id="btnDeletePoll" name="btnDeletePoll" value="Confirmar">
			</div>
		</div>
	</div>
	</form>
</div>
<!-- /Minimodal Borrado  -->


<!-- Inicio Modal Contestar Encuesta -->
<div class="modal fade" id="modalContestarEncuesta" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<form id="contestarEncuesta" class="form" method="" action="">
	      <div class="modal-dialog modal-lg">
	        <div class="modal-content">
	          <div class="modal-header justify-content-center">
	            <button onclick="this.form.reset();" type="button" class="close" data-dismiss="modal" aria-hidden="true">
	              <i class="now-ui-icons ui-1_simple-remove"></i>
	            </button>
	            <h4 class="title title-up">Contestar Encuesta</h4>
	          </div>
	          <div class="modal-body">
	          	<div class="row">
	          		<div class="form-group col-md-4">
		          		<label class="control-label">ID Encuesta</label>
		            	<input id="ApollId" name="pollId" class="form-control" type="text" readonly>
	            	</div>
		            <div class="form-group col-md-8">
		            	<label class="control-label">Nombre Encuesta</label>
		            	<input id="ApollName" name="pollName" class="form-control" type="text" readonly>
		            </div>
	          	</div>
	            <hr>
	          	<div class="col-md-10 col-centered">
	          		<div id="listQuestions"></div>
				</div>
		  	</div>
			<div class="modal-footer">
				<input id="btnCerrarAnswers" onclick="this.form.reset();" type="reset" class="btn btn-danger" data-dismiss="modal" value="Cancelar">
	    		<input type="button" class="btn btn-success" id="btnAnswer" name="btnAnswer" value="Guardar">
	      </div>
	    </div>
	  </div>
	</form>
</div>

<!-- Fin Modal Contestar Encuesta -->


<!-- Inicio Modal INSIGHT -->

<div class="modal fade" id="modalInsight" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	      <div class="modal-dialog modal-lg">
	        <div class="modal-content">
	          <div class="modal-header justify-content-center">
	            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
	              <i class="now-ui-icons ui-1_simple-remove"></i>
	            </button>
	            <h4 class="title title-up">Nombre Encuesta</h4>
	          </div>
	          <div class="modal-body">
	          	<div class="col-md-10 col-centered">
	          		<div class="alert alert-primary" role="alert">
		          		<label class="control-label">Pregunta 1</label>
		          	</div>
					dofnosnosnfodsfnods
				</div>
				<br>
		  	</div>
			<div class="modal-footer justify-content-center">
				<button id="btnCerrar" type="button" class="btn btn-danger" data-dismiss="modal" >Cancelar</button>
	      </div>
	    </div>
	  </div>
</div>

<!-- Fin Modal INSIGHT -->


<!-- Inicio Modal Crear/Editar Palabra -->
<div class="modal fade modal-md" id="modalCrearPalabra" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <form id="crearPalabra" class="form" method="" action="">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header justify-content-center">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              <i class="now-ui-icons ui-1_simple-remove"></i>
            </button>
            <h4 class="title title-up">Crear | Editar Palabras</h4>
          </div>
          <div class="modal-body">
          	<div class="form-group">
            	<input value="" placeholder="Palabra" class="form-control" type="text">
            </div>
	  	</div>
	  <div class="modal-footer">
	    <button id="btnCerrar" type="button" class="btn btn-danger" data-dismiss="modal" >Cancelar</button>
	    <button type="button" class="btn btn-success">Guardar</button>
	      </div>
	    </div>
	  </div>
  </form>
</div>
<!-- Fin Modal Crear/Editar Palabra -->

<!-- NOTIFICACIONES -->
<div class="modal fade modal-mini modal-success" id="alertSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <div class="modal-profile">
          <i class="fas fa-check"></i>
        </div>
      </div>
      <div class="modal-body">
        <p id="modalMessage"></p>
      </div>
      <div class="modal-footer col-centered">
        <button type="button" class="btn btn-link btn-neutral" data-dismiss="modal" id="btnOK">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade modal-mini modal-danger" id="alertError" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <div class="modal-profile">
          <i class="fas fa-times"></i>
        </div>
      </div>
      <div class="modal-body">
        <p>Se present&oacute; un error, intente nuevamente</p>
      </div>
      <div class="modal-footer col-centered">
        <button type="button" class="btn btn-link btn-neutral" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<!-- FIN NOTIFICACIONES -->


<!-- /BODY -->

<var th:insert="fragments/scripts.html :: var"> </var>


<script>
	$( document ).ready(function() {
	 
	    $('#startDate').datepicker();
	});
	


</script>





</body>
</html>