<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Hello World!</title>
        
     <link rel="icon" href="../img/icons/inlab_favicon.ico">
        
        <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="../css/now-ui-dashboard-pro.min.css" rel="stylesheet" />


    <!-- CSS Files -->
    <link href="../css/bootstrap.min.css" rel="stylesheet" />
        
    </head>
    <body>
    	<ul>
    		<li>
                <a href="/loginCliente">LoginCliente</a>
            </li>
            <li>
                <a href="/homeCliente">homeCliente</a>
            </li>
            <li>
                <a href="/homeAdmin">homeAdmin</a>
            </li>
    	</ul>
    
    
    
        <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </body>
</html>