<!DOCTYPE html>
<html lang="en">

<header th:insert="fragments/headerAdmin.html :: header"> </header>

<body class="sidebar-mini">

<!-- SIDEBAR    -->
<hgroup th:insert="fragments/sidebarAdmin.html :: sidebar"> </hgroup>
<!-- /SIDEBAR    -->

<!-- TOPBAR    -->
<hgroup th:insert="fragments/topbarAdmin.html :: topbar"> </hgroup>
<!-- /TOPBAR    -->

<!-- CONTENT    -->            
            
            <!--CONTAINER-->
            <div class="panel-header panel-header-sm">
            </div>
            <div class="section section-tabs">
        <div class="container">
          <div class="row">
            <div class="col-md-10 ml-auto col-xl-6 mr-auto">
              <p class="category">USUARIOS - ROLES</p>
              <!-- Nav tabs -->
              <div class="card">
                <div class="card-header">
                  <ul class="nav nav-tabs nav-tabs-neutral justify-content-center" role="tablist" data-background-color="orange">
                    <li class="nav-item">
                      <a class="nav-link active" data-toggle="tab" href="#home" role="tab">
                        <i class="now-ui-icons users_single-02"></i> Usuarios
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#profile" role="tab">
                        <i class="now-ui-icons ui-1_lock-circle-open"></i> Roles
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="card-body">
                  <!-- Tab panes -->
                  <div class="tab-content text-center">
                    <div class="tab-pane active" id="home" role="tabpanel">
                      <!-- CONTENIDO TAB 1 -->
                      
                      <form class="form" method="" action="">
		                <div class="card-header text-center">
		                  <h3 class="card-title title-up">Crear | Editar</h3>
		                </div>
		                <div class="card-body">
		                  <div class="input-group no-border">
		                    <div class="input-group-prepend">
		                      <span class="input-group-text">
		                        <i class="now-ui-icons users_circle-08"></i>
		                      </span>
		                    </div>
		                    <input class="form-control" placeholder="Nombre Usuario" type="text">
		                  </div>
		                  <div class="input-group no-border">
		                    <div class="input-group-prepend">
		                      <span class="input-group-text">
		                        <i class="now-ui-icons text_caps-small"></i>
		                      </span>
		                    </div>
		                    <input placeholder="Usuario" class="form-control" type="text">
		                  </div>
		                  <div class="input-group no-border">
		                    <div class="input-group-prepend">
		                      <span class="input-group-text">
		                        <i class="now-ui-icons ui-1_email-85"></i>
		                      </span>
		                    </div>
		                    <input class="form-control" placeholder="Contraseña" type="password">
		                  </div>
		                  <div class="checkbox">
							<input id="checkboxSignup" type="checkbox">
								<label for="checkboxSignup">
								Activo
								</label>
						  </div>
		                </div>
		                <div class="card-footer text-center">
		                  <a href="#" class="btn btn-warning btn-round btn-lg">Actualizar</a>
		                </div>
		              </form>
                      
                      
                      
                      <!-- / CONTENIDO TAB 1 -->
                    </div>
                    <div class="tab-pane" id="profile" role="tabpanel">
                      <p> I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-10 ml-auto col-xl-6 mr-auto">
              <p class="category">PERMISOS</p>
              <!-- Tabs with Background on Card -->
              <div class="card">
                <div class="card-header">
                  <ul class="nav nav-tabs nav-tabs-neutral justify-content-center" role="tablist" data-background-color="orange">
                    <li class="nav-item">
                      <a class="nav-link active" data-toggle="tab" href="#home1" role="tab">
                      	<i class="now-ui-icons objects_key-25"></i> Asignar
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="card-body">
                  <!-- Tab panes -->
                  <div class="tab-content text-center">
                    <div class="tab-pane active" id="home1" role="tabpanel">
                      <p>I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. So when you get something that has the name Kanye West on it, it’s supposed to be pushing the furthest possibilities. I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus.</p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Tabs on plain Card -->
            </div>
          </div>
        </div>
      </div>
            <!--/CONTAINER-->
            
<!-- /CONTENT   -->


<!--FOOTER-->
<footer th:insert="fragments/footerAdmin.html :: footer"> </footer>

</body>
</html>