<!DOCTYPE html>
<html lang="es">
<hgroup th:insert="fragments/admin/headAdmin.html :: headAdmin"> </hgroup>

<body class="sidebar-mini">
<div class="wrapper">
	<!--NAV-->
		<!-- SIDEBAR    -->
		<aside th:insert="fragments/admin/asideAdmin.html :: asideAdmin"> </aside>
		<!-- /SIDEBAR    -->
	<!-- TOPBAR    -->
	<!--/NAV-->
    <!--MAIN-->
    <div class="main-panel">
       <!-- HEADER -->
       <nav th:insert="fragments/nav.html :: nav"> </nav>
       <!-- /HEADER -->
            
<!-- /TOPBAR    -->
<!-- CONTENT    -->
            
            <!--CONTAINER-->
            
            <div class="panel-header panel-header-sm">
            </div>
            <div class="section">
	            <div class="content col-md-12 col-centered">
	            	<div class="row">
		            <div class="col-md-10 ml-auto col-xl-5 mr-auto">
		              <p class="category">LISTA DE USUARIOS</p>
		              <!-- Nav tabs -->
		              <div class="card">
		                <div class="card-header">
		                  <ul class="nav nav-tabs nav-tabs-neutral justify-content-center" role="tablist" data-background-color="orange">
		                    <li class="nav-item">
		                      <a class="nav-link active" data-toggle="tab" href="#usuarios" role="tab">
		                        <i class="fas fa-users"></i> Usuarios
		                      </a>
		                    </li>
		                    <!-- <li class="nav-item">
		                      <a class="nav-link" data-toggle="tab" href="#roles" role="tab">
		                        <i class="fas fa-user-lock"></i> Roles
		                      </a>
		                    </li> -->
		                  </ul>
		                </div>
		                <div class="card-body">
		                  <!-- Tab panes -->
		                  <div class="tab-content text-center">
		                    <div class="tab-pane active" id="usuarios" role="tabpanel">
		                      <!-- CONTENIDO TAB 1 -->
		                      <div class="table-responsive">
				                  <table class="table" id="tbUsuarios">
				                      <tr>
				                      	<th>ID</th>
										<th>Nombre</th>
				                      	<th>Usuario</th>
				                      	<th>Rol</th>
				                      	<th>Acciones</th>
				                    </tr>
				                  </table>
				                </div>
		                      <!-- / CONTENIDO TAB 1 -->
		                    </div>
		                    <div class="tab-pane" id="roles" role="tabpanel">
		                      <!-- CONTENIDO TAB 2 -->
		                      <!-- <div class="table-responsive">
				                  <table class="table" id="tbUsuarios">
				                      <tr>
				                      	<th>Rol</th>
				                      	<th>Activo</th>
				                      	<th>Editar</th>
				                    </tr>
				                  </table>
				                </div> -->
		                      <!-- / CONTENIDO TAB 2 -->
		                    </div>
		                  </div>
		                </div>
		              </div>
		            </div>
		            <div class="col-md-10 ml-auto col-xl-5 mr-auto">
		              <p class="category">CREAR USUARIOS</p>
		              <!-- Tabs with Background on Card -->
		              <div class="card">
		                <div class="card-header">
		                  <ul class="nav nav-tabs nav-tabs-neutral justify-content-center" role="tablist" data-background-color="orange">
		                    <li class="nav-item">
		                      <a class="nav-link active" data-toggle="tab" href="#creaUsuario" role="tab">
		                      	<i class="fas fa-user-plus"></i> Crear Usuario
		                      </a>
		                    </li>
		                    <!-- <li class="nav-item">
		                      <a class="nav-link" data-toggle="tab" href="#creaRol" role="tab">
		                      	<i class="fas fa-user-cog"></i> Crear Rol
		                      </a>
		                    </li> -->
		                  </ul>
		                </div>
		                <div class="card-body">
		                  <!-- Tab panes -->
		                  <div class="tab-content text-center">
		                    <div class="tab-pane active" id="creaUsuario" role="tabpanel">
		                      <!-- CONTENIDO TAB 1 -->
		                      <form id="crearUsuario" class="form" method="" action="">
		                      	<div class="input-group no-border">
						            <div class="input-group-prepend">
						              <span class="input-group-text">
						                <i class="now-ui-icons users_circle-08"></i>
						              </span>
						            </div>
						            <input class="form-control" placeholder="Nombre Usuario" type="text" id="completeName">
						          </div>
						          <div class="input-group no-border">
						            <div class="input-group-prepend">
						              <span class="input-group-text">
						                <i class="now-ui-icons ui-1_email-85"></i>
						              </span>
						            </div>
						            <input placeholder="email" class="form-control" type="text" id="username">
						          </div>
						          <div class="input-group no-border">
						            <div class="input-group-prepend">
						              <span class="input-group-text">
						                <i class="now-ui-icons ui-1_lock-circle-open"></i>
						              </span>
						            </div>
						            <input class="form-control" placeholder="Contrase&ntilde;a" type="password" id="password">
						          </div>
						          <div class="form-group">
								    <label for="Select1">Rol</label>
								    <select class="form-control" id="roleName">
								      <option>ADMIN</option>
								      <option>USUARIO</option>
								    </select>
								  </div>
								  <button type="button" class="btn btn-success" id="createUser">Guardar</button>
								  </form>
		                      <!-- /CONTENIDO TAB 1 -->
		                    </div>
		                    <div class="tab-pane" id="creaRol" role="tabpanel">
		                      <!-- CONTENIDO TAB 2 -->
		                      <!-- <form id="crearRol" class="form" method="" action="">
		                      	<div class="input-group no-border">
						            <div class="input-group-prepend">
						              <span class="input-group-text">
						                <i class="now-ui-icons users_circle-08"></i>
						              </span>
						            </div>
						            <input class="form-control" placeholder="Nombre Rol" type="text">
						          </div>
						          <div class="form-check">
					                <label class="form-check-label">
					                  <input class="form-check-input" checked="" type="checkbox">
					                  <span class="form-check-sign"></span>
					                  M&oacute;dulo 1
					                </label>
					              </div>
					              <div class="form-check">
					                <label class="form-check-label">
					                  <input class="form-check-input" checked="" type="checkbox">
					                  <span class="form-check-sign"></span>
					                  M&oacute;dulo 2
					                </label>
					              </div>
								  <button type="button" class="btn btn-success">Guardar</button>
								  </form> -->
		                      <!-- /CONTENIDO TAB 2 -->
		                    </div>
		                  </div>
		                </div>
		              </div>
		              <!-- End Tabs on plain Card -->
		            </div>
		          </div>
	          </div>
	      </div>
     <!--/CONTAINER-->
<!-- /CONTENT   -->


<!--FOOTER-->
<footer th:insert="fragments/footer.html :: footer"> </footer>
<!--/FOOTER-->


        </div>
        <!--/MAIN-->
</div>

<!-- Inicio Modal Editar Usuario-->
<div class="modal fade" id="modalEditarUsuario" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<form id="formEditUser" class="form" method="" action="">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header justify-content-center">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              <i class="now-ui-icons ui-1_simple-remove"></i>
            </button>
            <h4 class="title title-up">Editar Usuario</h4>
          </div>
          <div class="modal-body">
          	 <div class="form-group">
          		<label class="control-label">ID Usuario</label>
            	<input id="editUserId" name="editUserId" class="form-control" type="text" readonly>
            </div>
            <div class="form-group">
            	<label class="control-label">Usuario</label>
            	<input id="editUserName" name="editUserName" class="form-control" type="text">
            </div>
            <div class="form-group">
            	<label class="control-label">Contrase&ntilde;a</label>
            	<input class="form-control" placeholder="Contrase&ntilde;a" type="password" id="password">
            </div>
	        <div class="form-group">
			    <label for="roleName">Rol Asignado</label>
			    <select class="form-control" id="roleName">
			      <option>ADMIN</option>
			      <option>USUARIO</option>
			    </select>
			</div>
	  	</div>
	  <div class="modal-footer">
	  	<button id="btnCerrar" type="button" class="btn btn-danger" data-dismiss="modal" >Cancelar</button>
	    <input type="button" class="btn btn-success" id="btnEditUser" name="btnEditUser" value="Guardar">
	      </div>
	    </div>
	  </div>
	</form>
</div>
<!-- Fin Modal Editar Usuario -->

<!-- Minimodal Borrado  -->
<div class="modal fade modal-mini" id="modalBorrar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<form id="borrarUsuario" class="form" method="" action="">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<p>Confirmar el borrado</p>
				<div class="form-group text-center col-centered">
	          		<label class="control-label">ID Usuario</label>
	            	<input id="deleteUserId" name="deleteUserId" class="form-control" type="text" readonly>
            	</div>
			</div>
			<div class="modal-footer">
				<button id="btnCerrar" type="button" class="btn btn-danger" data-dismiss="modal" >Cancelar</button>
			    <input type="button" class="btn btn-success" id="btnUserDelete" name="btnUserDelete" value="Confirmar">
			</div>
		</div>
	</div>
	</form>
</div>
<!-- /Minimodal Borrado  -->


<!-- NOTIFICACIONES -->
<div class="modal fade modal-mini modal-success" id="alertSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <div class="modal-profile">
          <i class="fas fa-check"></i>
        </div>
      </div>
      <div class="modal-body">
        <p id="modalMessage"></p>
      </div>
      <div class="modal-footer col-centered">
        <button type="button" class="btn btn-link btn-neutral" data-dismiss="modal" id="btnOK">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade modal-mini modal-danger" id="alertError" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <div class="modal-profile">
          <i class="fas fa-times"></i>
        </div>
      </div>
      <div class="modal-body">
        <p>Se present&oacute; un error, intente nuevamente</p>
      </div>
      <div class="modal-footer col-centered">
        <button type="button" class="btn btn-link btn-neutral" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<!-- FIN NOTIFICACIONES -->


<!-- /BODY -->


<var th:insert="fragments/scripts.html :: var"> </var>




</body>
</html>