<!DOCTYPE html>
<html lang="es">
<link rel="icon" type="image/png" href="../img/icons/inlab_favicon.png">
<hgroup th:insert="fragments/cliente/headCliente.html :: headCliente"> </hgroup>

<body class="sidebar-mini">
<div class="wrapper">
<!--NAV-->
<!-- SIDEBAR    -->
<aside th:insert="fragments/cliente/asideCliente.html :: asideCliente"> </aside>
<!-- /SIDEBAR    -->
<!-- TOPBAR    -->
<!--/NAV-->
    <!--MAIN-->
    <div class="main-panel">
       <!-- HEADER -->
       <nav th:insert="fragments/nav.html :: nav"> </nav>
        <!-- /HEADER -->
            
<!-- /TOPBAR    -->
<!-- CONTENT    -->            
            
            <!--CONTAINER-->
            <div class="panel-header panel-header-sm">
            </div>
            <div class="content">
				<div class="row">
					<input id="hiddenInsightId" type="hidden" th:field="${campaign.insightId}" />
				    <div class="col-sm-12 col-centered">
				        <div class="card ">
				            <div class="card-header ">
				                <h5 class="card-title"><i class="now-ui-icons business_bulb-63"></i> INSIGHT</h5>
				            </div>
				            <div class="card-body pb-md-5 text-center">
				                <!--iframe-->
				                <div id="accordion" role="tablist" aria-multiselectable="true" class="card-collapse"></div>
				                <!--/iframe-->
				            </div>
				        </div>
				    </div>
				</div>
            </div>
            <!--/CONTAINER-->
            
<!-- /CONTENT   -->



<!--FOOTER-->
<footer th:insert="fragments/footer.html :: footer"> </footer>
<!--/FOOTER-->


        </div>
        <!--/MAIN-->
    </div>
<!-- /BODY -->

<var th:insert="fragments/scripts.html :: var"> </var>

<!--<script src="/Plugins/jQCloud-master/jqcloud-1.0.4.js"></script>
<script src="/Plugins/jquery-tagcloud-master/jquery.tagcloud.js"></script> -->



<script th:inline="javascript">
/*<![CDATA[*/

    var answers = /*[[${answers}]]*/ 'default';
   
    console.log(answers);
   
    answers.map((answer, index) => {
    	if(index === 0){
    		$("#accordion").append('<div class="card border border-light"><div class="card-header border border-light" role="tab" id="heading' + index + '"><a aria-expanded="true" aria-controls="collapse' + index + '" class="collapsed" style="margin-right:15px; color:#F96332; font-size:18px; font-weight:bold;" data-toggle="collapse" href="#collapse' + index + '"><i class="fas fa-chevron-down"></i>' + answer.questionName + '</a></div><div id="collapse' + index + '" class="collapse show" role="tabpanel" aria-labelledby="heading' + index + '" style="" data-parent="#accordion"><div class="card-body" id="question-' + index + '"></div></div>')
    		} else {
    		$("#accordion").append('<div class="card border border-light"><div class="card-header border border-light" role="tab" id="heading' + index + '"><a aria-expanded="false" aria-controls="collapse' + index + '" class="collapsed" style="margin-right:15px; color:#F96332; font-size:18px; font-weight:bold;" data-toggle="collapse" href="#collapse' + index + '"><i class="fas fa-chevron-down"></i>' + answer.questionName + '</a></div><div id="collapse' + index + '" class="collapse" role="tabpanel" aria-labelledby="heading' + index + '" style="" data-parent="#accordion"><div class="card-body" id="question-' + index + '"></div></div>')	
    		}
        
         /* $("#question-" + index).append("<h2>" + answer.questionName + "</h2>"); */
         //answer.tags.map(tag => tag.html = {'data-tooltip': tag.text + ' - ' + tag.weight});
        //$("#question-" + index).jQCloud(answer.tags, {width:800, height:600, autoResize:true});
        
        
        var text_string = answers[index].tags[index].wholeWords;

    	drawWordCloud(text_string);

    	function drawWordCloud(text_string){
    	  var common = answers[0].tags[0].badWords;
    	
    	  var word_count = {};
    	
    	  var words = text_string.split(/[ '\-\(\)\*":;\[\]|{}.!?]+/);
    	  //
    	  
    	    if (words.length == 1){
    	      word_count[words[0]] = 1;
    	    } else {
    	      words.forEach(function(word){
    	    	var fernmarr = word.replace(',',' ');
    	        var word = fernmarr.toLowerCase();
    	        if (word != "" && common.indexOf(word)==-1 && word.length>1){
    	          if (word_count[word]){
    	            word_count[word]++;
    	            
    	            //alert(word);
    	          } else {
    	            word_count[word] = 1;
    	          }
    	        }
    	      })
    	    }
    	
    	  var svg_location = "#question-" + index;
    	  var width = ($(document).width())/2;
    	  var height = ($(document).height())/2;
    	
    	  var fill = d3.scale.category20();
    	
    	  var word_entries = d3.entries(word_count);
    	  //console.log (word_entries);
    	
    	  var xScale = d3.scale.linear()
    	     .domain([0, d3.max(word_entries, function(d) {
    	        return d.value;
    	      })
    	     ])
    	     .range([1,100]);
    	
    	  d3.layout.cloud().size([width, height])
    	    .timeInterval(20)
    	    .words(word_entries)
    	    .fontSize(function(d) { return xScale(+d.value); })
    	    .text(function(d) { return d.key; })
    	    .rotate(function() { return ~~(Math.random() * 2) * 90; })
    	    .font("Impact")
    	    .on("end", draw)
    	    .start();
    	
    	  function draw(words) {
    		  //console.log(words);
    	    d3.select(svg_location).append("svg")
    	        .attr("width", width)
    	        .attr("height", height)
    	      .append("g")
    	        .attr("transform", "translate(" + [width >> 1, height >> 1] + ")")
    	      .selectAll("text")
    	        .data(words)
    	        
    	      .enter().append("text")
    	        .style("font-size", function(d) { return xScale(d.value) + "px"; })
    	        .style("font-family", "Impact")
    	        .style("fill", function(d, i) { return fill(i); })
    	        .attr("text-anchor", "middle")
    	        .attr("data-toggle", "tooltip")
    	        .attr("data-placement", "top")
    	        .attr("title", function(d) { return d.key + " - " + d.value; })
    	        /* .attr("class", "test") */
    	        .attr("transform", function(d) {
    	          return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
    	        })
    	        .text(function(d) { return d.key; });
    	  }
    	
    	  //d3.layout.cloud().stop();
    	}
       
    });
/*]]>*/
</script>


<script>
$(document).ready(function(){
	$('[data-toggle="tooltip"]').tooltip();
});
</script>



</body>
</html>