<!DOCTYPE html>
<html lang="en">
<hgroup th:insert="fragments/cliente/headCliente.html :: headCliente"> </hgroup>

<body class="sidebar-mini">
<div class="wrapper">
<!--NAV-->
<!-- SIDEBAR    -->
<aside th:insert="fragments/cliente/asideCliente.html :: asideCliente"> </aside>
<!-- /SIDEBAR    -->
<!-- TOPBAR    -->
<!--/NAV-->
    <!--MAIN-->
    <div class="main-panel">
       <!-- HEADER -->
       <nav th:insert="fragments/nav.html :: nav"> </nav>
        <!-- /HEADER -->
            
<!-- /TOPBAR    -->
<!-- CONTENT    -->            
            
            <!--CONTAINER-->
            <div class="panel-header panel-header-sm">
            </div>
            <div class="content">
                
			<script>
			    $.ajaxSetup({
			    cache: false
			});</script>
			
				<div class="row">
				    <div class="col-sm-10 col-centered">
				        <div class="card ">
				            <div class="card-header ">
				                <h5 class="card-title"><i class="now-ui-icons business_bulb-63"></i> INSIGHT</h5>
				            </div>
				            <div class="card-body pb-md-5 text-center">
				                <!--iframe-->
				                <div class="row">
				                    <div class="col-sm-10 col-centered">
				                        <p class="text-black">¿La principal razón de compra en las tiendas de descuento (tiendas como D1, Justo y Bueno) es?</p>
				                    </div>
				                </div>
				                <div class="row">
				                    <div id="Container" style="padding-bottom:0%; position:relative; display:block; width: 100%">
				                        <div data-wordart-src="//cdn.wordart.com/json/tfky5ld5xwgj"></div>
				                    </div>
				                </div>
				                <hr />
				                <div class="row">
				                    <div class="col-sm-10 col-centered">
				                        <p class="text-black">¿Ha tenido alguna experiencia negativa con la compra de algún producto en una tienda de descuento como D1 y Justo y Bueno?</p>
				                    </div>
				                </div>
				                <div class="row">
				                    <div id="Container" style="padding-bottom:0%; position:relative; display:block; width: 100%">
				                        <div data-wordart-src="//cdn.wordart.com/json/xeiqr4c9yo9x"></div>
				                    </div>
				                </div>
				                
				                <!--/iframe-->
				            </div>
				        </div>
				    </div>
				</div>
            </div>
            <!--/CONTAINER-->
            
<!-- /CONTENT   -->


<!--FOOTER-->
<footer th:insert="fragments/footer.html :: footer"> </footer>
<!--/FOOTER-->


        </div>
        <!--/MAIN-->
    </div>
<!-- /BODY -->

<var th:insert="fragments/scripts.html :: var"> </var>

</body>
</html>