<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<!--     Meta     -->
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="author" content="Cluster Research" />
<meta name="genre" content="Servicios" />
<meta name="geo.placename" content="Colombia" />
<meta name="geo.position" content="4.687771;-74.070650" />
<meta name="geo.region" content="CO" />
<meta name="google" content="notranslate" />
<meta name="ICBM" content="4.687771, -74.070650" />
<meta name="language" content="spanish" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="description" content="Metodología INLab">
<meta name="keywords" content="Metodología INLab">

<meta name="robots" content="index" />
<meta property="og:type" content="website" />
<meta property="og:title" content="INLAB RESEARCH" />
<meta property="og:description" content="Metodología INLab" />
<meta property="og:url" content="http://www.inlab.com.co/" />
<meta property="og:site_name" content="INLAB RESEARCH" />
<meta property="og:locale" content="es_CO" />
<meta property="og:locale:alternate" content="es_CO" />
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />

<!--     CSS     -->
<link rel="icon" type="image/png" href="@Url.Content("/img/icons/inlab_favicon.png")">
<link href="/css/bootstrap.min.css" rel="stylesheet" />
<link href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css"
	rel="stylesheet" />
<link href="/fonts/iconic/css/material-design-iconic-font.min.css"
	rel="stylesheet" />
<link href="/assets/animate/animate.css" rel="stylesheet" />
<link href="/assets/css-hamburgers/hamburgers.min.css" rel="stylesheet" />
<link href="/assets/animsition/css/animsition.min.css" rel="stylesheet" />
<link href="/assets/select2/select2.min.css" rel="stylesheet" />
<link href="/assets/daterangepicker/daterangepicker.css"
	rel="stylesheet" />
<link href="/css/util.css" rel="stylesheet" />
<link href="/css/login.css" rel="stylesheet" />

<title>INLAB RESEARCH</title>
</head>

<body>
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="alert alert-danger" th:if="${param.error}">Email/contraseña
					incorrecto</div>
				<form name="form" id="inlab_login_form"
					class="login100-form validate-form" th:action="@{/login}"
					method="post">
					<!--<span class="login100-form-title p-b-26">
                        Bienvenido
                    </span>-->
					<span class="login100-form-title p-b-10"> <img width="200"
						src="/img/inlab_naranja.png" />
					</span>

					<div class="wrap-input100 validate-input"
						data-validate="Escriba el usuario">
						<input class="input100" type="text" id="user" name="username">
						<span class="focus-input100" data-placeholder="Usuario"></span>
					</div>

					<div class="wrap-input100 validate-input"
						data-validate="Escriba el password">
						<span class="btn-show-pass"> <i class="zmdi zmdi-eye"></i>
						</span> <input class="input100" type="password" id="pass" name="password">
						<span class="focus-input100" data-placeholder="Password"></span>
					</div>

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>

							<button class="login100-form-btn" type="submit">Entrar</button>
						</div>
					</div>
					<br /> <span class="login100-form-title p-t-10"> <img
						width="200" src="/img/pie_inlab.png" />
					</span>
				</form>
			</div>
			<footer class="footer text-center">
				<img width="250" src="/img/cr_bl.png" /> <br /> <span
					id="copyright">&copy; <script>
						document.getElementById('copyright').appendChild(
								document.createTextNode(new Date()
										.getFullYear()))
					</script></span>
			</footer>
		</div>
	</div>


	<div id="dropDownSelect1"></div>



	<script src="/Assets/jquery/jquery-3.2.1.min.js"></script>
	<script src="/Assets/animsition/js/animsition.min.js"></script>
	<script src="/Assets/bootstrap/js/popper.js"></script>
	<script src="/Assets/bootstrap/js/bootstrap.min.js"></script>
	<script src="/Assets/select2/select2.min.js"></script>
	<script src="/Assets/daterangepicker/moment.min.js"></script>
	<script src="/Assets/daterangepicker/daterangepicker.js"></script>
	<script src="/Assets/countdowntime/countdowntime.js"></script>
	<script src="/js/login.js"></script>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async
		src="https://www.googletagmanager.com/gtag/js?id=UA-125107929-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() {
			dataLayer.push(arguments);
		}
		gtag('js', new Date());

		gtag('config', 'UA-125107929-1');
	</script>


	<!-- Visual Studio Browser Link -->
	<script type="application/json" id="__browserLink_initializationData">
    {"appName":"Firefox","requestId":"6b59d798b7584666a9bf5bc8dc765572"}
</script>
	<script type="text/javascript"
		src="http://localhost:55698/328311dc0e16460681218069e4756074/browserLink"
		async="async"></script>
	<!-- End Browser Link -->

</body>
</html>