<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:insert="fragments/header.html :: header"> </header>
<body>
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">

				<form name="form" id="inlab_login_form"
					class="login100-form validate-form" action="javascript:validate();">
					<!--<span class="login100-form-title p-b-26">
                        Bienvenido
                    </span>-->
					<span class="login100-form-title p-b-10"> <img width="200"
						src="/img/inlab_naranja.png" />
					</span>

					<div class="wrap-input100 validate-input"
						data-validate="Escriba el usuario">
						<input class="input100" type="text" id="user" name="user">
						<span class="focus-input100" data-placeholder="Usuario"></span>
					</div>

					<div class="wrap-input100 validate-input"
						data-validate="Escriba el password">
						<span class="btn-show-pass"> <i class="zmdi zmdi-eye"></i>
						</span> <input class="input100" type="password" id="pass" name="pass">
						<span class="focus-input100" data-placeholder="Password"></span>
					</div>

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>

							<button class="login100-form-btn" onclick="validate()">
								Entrar</button>
						</div>
					</div>
					<br /> <span class="login100-form-title p-t-10"> <img
						width="200" src="/img/pie_inlab.png" />
					</span>
				</form>
			</div>
			<footer class="footer text-center">
				<img width="250" src="/img/cr_bl.png" /> <br /> <span
					id="copyright">&copy; <script>
						document.getElementById('copyright').appendChild(
								document.createTextNode(new Date()
										.getFullYear()))
					</script></span>
			</footer>
		</div>
	</div>


	<div id="dropDownSelect1"></div>



	<script src="/Assets/jquery/jquery-3.2.1.min.js"></script>
	<script src="/Assets/animsition/js/animsition.min.js"></script>
	<script src="/Assets/bootstrap/js/popper.js"></script>
	<script src="/Assets/bootstrap/js/bootstrap.min.js"></script>
	<script src="/Assets/select2/select2.min.js"></script>
	<script src="/Assets/daterangepicker/moment.min.js"></script>
	<script src="/Assets/daterangepicker/daterangepicker.js"></script>
	<script src="/Assets/countdowntime/countdowntime.js"></script>
	<script src="/js/login.js"></script>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async
		src="https://www.googletagmanager.com/gtag/js?id=UA-125107929-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() {
			dataLayer.push(arguments);
		}
		gtag('js', new Date());

		gtag('config', 'UA-125107929-1');
	</script>


	<!-- Visual Studio Browser Link -->
	<script type="application/json" id="__browserLink_initializationData">
    {"appName":"Firefox","requestId":"6b59d798b7584666a9bf5bc8dc765572"}
</script>
	<script type="text/javascript"
		src="http://localhost:55698/328311dc0e16460681218069e4756074/browserLink"
		async="async"></script>
	<!-- End Browser Link -->

</body>
</html>