<!DOCTYPE html>
<html lang="en">
<hgroup th:insert="fragments/cliente/headCliente.html :: headCliente"> </hgroup>

<body class="sidebar-mini">
<div class="wrapper">
<!--NAV-->
<!-- SIDEBAR    -->
<aside th:insert="fragments/cliente/asideCliente.html :: asideCliente"> </aside>
<!-- /SIDEBAR    -->
<!-- TOPBAR    -->
<!--/NAV-->
    <!--MAIN-->
    <div class="main-panel">
       <!-- HEADER -->
       <nav th:insert="fragments/nav.html :: nav"> </nav>
        <!-- /HEADER -->
            
<!-- /TOPBAR    -->
<!-- CONTENT    -->            
            
            <!--CONTAINER-->
            <div class="panel-header panel-header-sm">
            </div>
            <div class="content">
				<div class="row">
				    <div class="col-sm-10 col-centered">
				        <div class="card ">
				            <div class="card-header ">
				                <h5 class="card-title"><i class="now-ui-icons ui-2_like"></i> REDES SOCIALES</h5>
				            </div>
				            <div class="card-body ">
				                <!--iframe-->
				                <div class="row">
				                    <div class="col-sm-12">
				                        <div id="Container" style="padding-bottom:65%; position:relative; display:block; width: 100%">
				                            <iframe id="in_timeline" width="100%" height="100%" th:src="${campaign.timelineUrl}" frameborder="0" style="position:absolute; top:0; left: 0"></iframe>
				                        </div>
				                    </div>
				                </div>
				
				                <div class="row">
				                    <div class="col-sm-6">
				                        <iframe id="in_top_tweets" th:src="${campaign.tweetsUrl}" frameborder="0" height="450" width="100%"></iframe>
				                    </div>
				                    <div class="col-sm-6">
				                        <iframe id="in_topics" th:src="${campaign.topicsUrl}" frameborder="0" height="450" width="100%"></iframe>
				                    </div>
				                </div>
				                
				                <div class="row">
				                    <div class="col-sm-6">
				                        <iframe id="in_influencers" th:src="${campaign.influenceUrl}" frameborder="0" height="450" width="100%"></iframe>
				                    </div>
				                    <div class="col-sm-6">
				                        <iframe id="in_top_domains" th:src="${campaign.topDomainsUrl}" frameborder="0" height="450" width="100%"></iframe>
				                    </div>
				                </div>
				
				                <div class="row">
				                    <div class="col-sm-6">
				                        <iframe id="in_countries" th:src="${campaign.countries}" frameborder="0" height="420" width="100%"></iframe>
				                    </div>
				                    <div class="col-sm-6">
				                        <iframe id="in_demographics" th:src="${campaign.demographics}" frameborder="0" height="420" width="100%"></iframe>
				                    </div>
				                </div>
				                
				                
				                <div class="row">
				                    <div class="col-sm-6">
				                        <iframe id="in_sources" th:src="${campaign.sources}" frameborder="0" height="400" width="100%"></iframe>
				                    </div>
				                    <div class="col-sm-6">
				                        <iframe id="in_posttype" th:src="${campaign.postType}" frameborder="0" height="400" width="100%"></iframe>
				                    </div>
				                </div>
				                <!--/iframe-->
				            </div>
				        </div>
				    </div>
				</div>
            </div>
            <!--/CONTAINER-->
            
<!-- /CONTENT   -->


<!--FOOTER-->
<footer th:insert="fragments/footer.html :: footer"> </footer>
<!--/FOOTER-->


        </div>
        <!--/MAIN-->
    </div>
<!-- /BODY -->

<var th:insert="fragments/scripts.html :: var"> </var>

</body>
</html>