<!DOCTYPE html>
<html lang="es">
<link rel="icon" type="image/png" href="../img/icons/inlab_favicon.png">
<hgroup th:insert="fragments/cliente/headCliente.html :: headCliente"> </hgroup>

<body class="sidebar-mini">
	<div class="wrapper">
		<!--NAV-->
		<!-- SIDEBAR    -->
		<aside th:insert="fragments/cliente/asideCliente.html :: asideCliente"> </aside>
		<!-- /SIDEBAR    -->
		<!-- TOPBAR    -->
		<!--/NAV-->
		<!--MAIN-->
		<div class="main-panel">
			<!-- HEADER -->
			<nav th:insert="fragments/nav.html :: nav"> </nav>
			<!-- /HEADER -->

			<!-- /TOPBAR    -->
			<!-- CONTENT    -->

			<!--CONTAINER-->
			<div class="panel-header panel-header-sm">
			</div>
			<div class="content">
				<div class="row">
					<div class="col-md-12">
						<div class="card ">
							<div class="card-header ">
								<h5 class="card-title"><i class="now-ui-icons tech_laptop"></i> VIDEO CONFERENCIAS</h5>
							</div>
							<div class="card-body ">
								<!--iframe-->

								<!-- ciclo re resultados -->
								<div class="card card-nav-tabs card-plain">
									<div class="card-header card-header-danger">
										<!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
										<div class="nav-tabs-navigation">
											<div class="nav-tabs-wrapper">
												<ul class="nav nav-tabs" data-tabs="tabs" id="contVidConf">

												</ul>
											</div>
										</div>
									</div>
									<div class="card-body ">
										<div class="tab-content text-center" id="contVidConf2">

										</div>
									</div>
								</div>

								<div class="row text-center" >Selecciona una de las salas</div>
								<p>&nbsp;</p>

							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/CONTAINER-->

			<!-- /CONTENT   -->


			<!--FOOTER-->
			<footer th:insert="fragments/footer.html :: footer"> </footer>
			<!--/FOOTER-->


		</div>
		<!--/MAIN-->
	</div>
	<!-- /BODY -->

	<var th:insert="fragments/scripts.html :: var"> </var>


	<script th:inline="javascript">
		/*<![CDATA[*/
		var campaign = /*[[${campaign}]]*/ 'default';

		if (campaign && campaign.conferences) {
			campaign.conferences.map((conference) => {


				

				$("#contVidConf").append('<li class="nav-item"><a class="nav-link" href="#' + conference.conferenceName + '" data-toggle="tab">' + conference.conferenceName + '</a></li>')

				$("#contVidConf2").append('<div class="tab-pane" id="' + conference.conferenceName + '"><div class="col-sm-12 p-3"><div id="Container" style="padding-bottom:65%; position:relative; display:block; width: 100%"><iframe allow="fullscreen;camera;microphone" allowfullscreen id="conferenceRoom" width="100%" height="100%" src="' + conference.conferenceUrl + '" frameborder="0" style="position:absolute; top:20; left:0; padding:40px;"></iframe></div></div></div>')

				
				



			});
		}

		/*]]>*/

		function launchZoom(url) {
			window.open(url, '_blank');
		}
	</script>


<script src='https://meet.jit.si/external_api.js'></script>
</body>

</html>