<!DOCTYPE html>
<html lang="es">
<link rel="icon" type="image/png" href="../img/icons/inlab_favicon.png">
<hgroup th:insert="fragments/cliente/headCliente.html :: headCliente"> </hgroup>

<body class="sidebar-mini">
	<div class="wrapper">
		<!--NAV-->
		<!-- SIDEBAR    -->
		<aside th:insert="fragments/cliente/asideCliente.html :: asideCliente"> </aside>
		<!-- /SIDEBAR    -->
		<!-- TOPBAR    -->
		<!--/NAV-->
		<!--MAIN-->
		<div class="main-panel">
			<!-- HEADER -->
			<nav th:insert="fragments/nav.html :: nav"> </nav>
			<!-- /HEADER -->

			<!-- /TOPBAR    -->
			<!-- CONTENT    -->

			<!--CONTAINER-->
			<div class="panel-header panel-header-sm">
			</div>
			<div class="content">
				<div class="row">
					<div class="col-md-12">
						<div class="card ">
							<div class="card-header ">
								<h5 class="card-title"><i class="now-ui-icons tech_laptop"></i> VIDEO CONFERENCIA</h5>
							</div>
							<div class="card-body ">
								<!--iframe-->

								<!-- ciclo re resultados -->
								<div class="row text-center" id="contVidConf"></div>

							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/CONTAINER-->

			<!-- /CONTENT   -->


			<!--FOOTER-->
			<footer th:insert="fragments/footer.html :: footer"> </footer>
			<!--/FOOTER-->


		</div>
		<!--/MAIN-->
	</div>
	<!-- /BODY -->

	<var th:insert="fragments/scripts.html :: var"> </var>


	<script th:inline="javascript">
		/*<![CDATA[*/
		var campaign = /*[[${campaign}]]*/ 'default';

		if (campaign && campaign.conferences) {
			campaign.conferences.map((conference) => {


				$("#contVidConf").append('<div class="contenedorEnlace col-md-4"><div class="urlEnlace alert alert-info"><div class="contenedorBtnServicios"><div><a src="' + conference.conferenceUrl + '" target="_blank" class="btn btn-light" onclick="launchZoom(\''  + conference.conferenceUrl + '\')">' + conference.conferenceName + '</a></div></div></div></div>')



			});
		}

		/*]]>*/

		function launchZoom(url) {
			window.open(url, '_blank');
		}
	</script>



</body>

</html>