<!DOCTYPE html>
<html lang="es">
<link rel="icon" type="image/png" href="../img/icons/inlab_favicon.png">
<hgroup th:insert="fragments/cliente/headCliente.html :: headCliente"> </hgroup>

<body class="sidebar-mini">
<div class="wrapper">
<!--NAV-->
<!-- SIDEBAR    -->
<aside th:insert="fragments/cliente/asideCliente.html :: asideCliente"> </aside>
<!-- /SIDEBAR    -->
<!-- TOPBAR    -->
<!--/NAV-->
    <!--MAIN-->
    <div class="main-panel">
       <!-- HEADER -->
       <nav th:insert="fragments/nav.html :: nav"> </nav>
        <!-- /HEADER -->
            
<!-- /TOPBAR    -->
<!-- CONTENT    -->            
            
            <!--CONTAINER-->
            <div class="panel-header panel-header-sm">
            </div>
            <div class="content">
				<div class="row">
				    <div class="col-md-6">
				        <div class="card ">
				            <div class="card-header ">
				                <h5 class="card-title"><i class="now-ui-icons tech_tv"></i> VIDEO</h5>
				            </div>
				            <div class="card-body ">
				                <!--iframe-->
				                <div id="Container"
				                     style="padding-bottom:60%; position:relative; display:block; width: 100%">
				                    <iframe id="inVideo" webkitallowfullscreen="" allowfullscreen="" width="100%" height="100%"
				                            th:src="${campaign.videoUrl}"
				                            frameborder="0"
				                            style="position:absolute; top:0; left: 0"></iframe>
				                </div>
				                <!--/iframe-->
				            </div>
				        </div>
				    </div>
				    <div class="col-md-6">
				        <div class="card ">
				            <div class="card-header ">
				                <h5 class="card-title"><i class="now-ui-icons ui-2_chat-round"></i> CHAT</h5>
				            </div>
				            <div class="card-body ">
				                <!--iframe-->
				                <div id="Container"
				                     style="padding-bottom:60%; position:relative; display:block; width: 100%">
				                    <iframe id="inChat" webkitallowfullscreen="" allowfullscreen="" width="100%" height="100%"
				                            th:src="${campaign.chatUrl}"
				                            frameborder="0"
				                            style="position:absolute; top:0; left: 0"></iframe>
				                </div>
				                <!--/iframe-->
				            </div>
				        </div>
				    </div>
				</div>

            </div>
            <!--/CONTAINER-->
<!-- /CONTENT   -->


<!--FOOTER-->
<footer th:insert="fragments/footer.html :: footer"> </footer>
<!--/FOOTER-->


        </div>
        <!--/MAIN-->
    </div>
<!-- /BODY -->

<var th:insert="fragments/scripts.html :: var"> </var>

</body>
</html>